@using System.Web.Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        .imagestyle
        {
            border: 0;
        }
    </style>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @{
                    bool value;
                }
                @if (bool.TryParse(WebConfigurationManager.AppSettings["Disclose Deployment Method"], out value) && value)
                { 
                    <p class="site-title"><a href="http://www.jetbrains.com/teamcity/">
                        <img class="imagestyle" alt="JetBrains TeamCity" src="~/Images/teamcity-logo.png" /></a></p>
                }
                else
                {
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                }
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                @if (bool.TryParse(WebConfigurationManager.AppSettings["Disclose Deployment Method"], out value) && value)
                { 
									<h4><a href="http://teamcitycontdel.cloudapp.net">http://teamcitycontdel.cloudapp.net</a>.<br /><br />Thank you Hadi and Maxim for helping me out with this demo. Blog post will come along shortly at <a href="http://magnusmartensson.com/">http://magnusmartensson.com/</a>!</h4>
                }
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
